*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%; /*1 rem = 10px, 10px/16px = 62.5% */
}

.bg {
  background-color: #f7f7f7;
  padding: 0.5rem;
}

.container {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6bc3e7),
    to(#29a4d4)
  );
  background-image: -webkit-linear-gradient(top, #6bc3e7, #29a4d4);
  background-image: -o-linear-gradient(top, #6bc3e7, #29a4d4);
  background-image: linear-gradient(to bottom, #6bc3e7, #29a4d4);
  -webkit-box-shadow: 25px 25px 29px -12px rgba(163, 163, 163, 0.77);
  box-shadow: 25px 25px 29px -12px rgba(163, 163, 163, 0.77);

  width: 80.85rem;
  height: 80.85rem;
  border-radius: 5%;
  margin: 4.5rem auto;
  position: relative;
}

.letter-box {
  height: 97%;
  width: 97%;
  border-radius: 3%;

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#6bc3e7),
    to(rgba(196, 245, 234, 0.8))
  );
  background-image: -webkit-linear-gradient(
    top,
    #6bc3e7,
    rgba(196, 245, 234, 0.8)
  );
  background-image: -o-linear-gradient(top, #6bc3e7, rgba(196, 245, 234, 0.8));
  background-image: linear-gradient(
    to bottom,
    #6bc3e7,
    rgba(196, 245, 234, 0.8)
  );

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.letter-box {
  border: 1rem solid white;
  position: relative;
}

.center-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-box > *:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.center-box > *:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

.center-box > *:nth-child(3) {
  grid-row: 2;
  grid-column: 1;
}

.center-box > *:nth-child(4) {
  grid-row: 2;
  grid-column: 2;
}

.letter {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;

  background-color: #fff;
  margin: 3.75rem;

  width: 28rem;
  height: 28rem;
  border-radius: 5px;
  border-bottom: 0.1rem solid #fff;
  border-right: 0.1rem solid #fff;
  -webkit-box-shadow: inset 5px 5px 47px -6px rgba(140, 140, 140, 1);
  box-shadow: inset 5px 5px 47px -6px rgba(140, 140, 140, 1);

  font-size: 10rem;
  color: #6bc3e7;
  text-shadow: -3px 2px 2px rgba(148, 146, 146, 0.712);
  -webkit-text-stroke: 2px rgb(180, 180, 180);
}

.plus {
  background-color: rgba(255, 255, 255, 0.2);
  width: 40rem;
  height: 40rem;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
